@font-face {
    font-family: "LexendExa";
    src:  url("LexendExa.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

body
{
    font-family: "LexendExa";
    font-weight: 400;
    font-style: normal;
}

p {
    margin-left: 15px;
    display: block;
    margin-bottom: 18px;
}

input {
    border: 3px 3px solid black;
}